# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Local env files
.env
.env.local

# SSH / certs — never commit
*.pem
*.key

# Logs
*.log

#Claude
CLAUDE.md


terraform/.terraform/*
terraform/terra-key.pub
terraform/terra-key
terraform/terraform.tfstate*
terraform/.terraform.lock.hcl
terraform/.terraform/modules/*

.terraform.tfstate.lock.info
terraform/.terraform
.terraform.lock.hcl
.terraform
terraform.tfstate
terraform.tfstate.backup
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terra-key.pub
terra-key
